* {
  background-color: #90dbf4;
}

.header h1 {
  color: #6b705c;
  text-align: center;
  border-bottom-style: dotted;
}
.container {
  margin: auto;
  width: 320px;
}
.text-field {
  width: 320px;
  background-color: antiquewhite;
  height: 55px;
  padding: 5px;
}

.text-field input {
  width: 310px;
  height: 50px;
  background-color: beige;
  font-size: 32px;
}

.container-tombol {
  background-color: antiquewhite;
  width: 320px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.tombol {
  width: 75px;
  background-color: beige;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}

#reset {
  width: 75px;
  background-color: beige;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}
